<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Blog</title>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Lora&family=Orbitron:wght@500&family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet">  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      <a href="/">The Tech Blog</a>
      <span role="img" aria-label="blog">📝</span>
    </h1>
    <nav>
      {{#if logged_in}}
        <div id="nav-search">
          <a href="/dashboard">Dashboard</a>  
          <button id="logout">Logout</button>
        </div>
      {{else}}
          <a href="../login">Login</a>
      {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    &copy; 2023 The Tech Blog. All rights reserved.
  </footer>

  <!-- Render script for logged-in users only -->
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>