<div class="blog-card">
    <div class="blog-card-header" id="log-text">
        <b><h1>Create a New Blog Post</h1></b><br>
    </div>
    <div id="blog-body">
        <form id="blog-form">
            <div class="mb-3">
                <label for="blog-label" class="form-label" id="log-text">Title:</label>
                <input class="form-control" type="text" id="blog-label" required />
            </div>
            <div class="mb-3">
                <label for="blog-content" class="form-label" id="blog-text">Content:</label>
                <textarea class="form-control" style="width: 75%; height: 100px" id="blog-content" required></textarea>
            </div>
            <button id="createBlogSubmit" type="submit" class="btn btn-primary">Create Blog</button>
        </form>
    </div>
</div>

<script src="/js/blog.js"></script>