<div class="blog-card">
    <div class="blog-card-header">
        <h1>{{blog.title}}</h1>
        <p><i>Published on {{format_date blog.dateCreated}}</i></p> 
    </div>
    <div id="blog-body">
    <p>
       <h2> <b>{{blog.contentPost}}</b><br></h3>
    </p>
    <p>
        <label id="blog-id" hidden="hidden"> {{blog.id}} </label>
    </p>
    <div class="blog-comment">
        <label for="bloginput">Comment:</label></br>
        <textarea class="input" style="width: 75%; height: 50px" id="blog-text"></textarea></br>
        <button id="blog-comment-submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</div>