<div id="create-post">
  <a href="/post">  <button id="create-post-button">Post a Blog</button></a>
</div>

{{#each blogs}}
<section class="user-posts">
<div class="post-content">
         <h2>{{title}} </h2>
            <h3>{{user.name}}</h3>
            <p><i>Published on {{format_date dateCreated}} </i> </p>
        </div>
        <div class="blog-body" id="content-body">
            <p>{{contentPost}}</p>
        </div>
</section>
{{/each}}

<script src="/js/blog.js"></script>