    <h1>Blog Posts</h1>

    <div id="blog-posts">
        {{#each blogs}}
                <h2>{{title}}</h2>
                <p>{{contentPost}}</p>
                {{!-- <p>Published on {{formatDate dateCreated}}</p> --}}

        {{/each}}
    </div>

