 #header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
 }

 #logout {
   font-size: 20px;
   background: none;
   border: none;
   color: #0000EE;
   cursor: pointer;
   font-family: 'Times New Roman', Times, serif;
   margin-left: 10px;
 }

 .login-form {
   width: 50%;
   padding: 70px;
   margin: 20px;
 }

 .signup-form{
  width: 50%;
  padding: 70px;
  margin: 20px;
 }

#corner {
 padding: 15px;

}
#signup-submit, #login-submit {
padding: 15px;

width: 40%;
}

 .form-label {
   font-weight: bold;
 }

 .row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .col-md-6 {
   border: 1px solid #ccc;
   border-radius: 8px;
 }

 .form-control {
   font-size: 16px;
   padding: 10px;
   margin-bottom: 10px;
 }

 nav {
   font-size: 20px;
   display: flex;
   justify-content: flex-end;
   margin-top: 30px;
 }

 a {
   margin-left: 20px;
   text-decoration: none;
 }

 #blog-post {
   border: solid;
   border-radius: 5px;
   margin-bottom: 40px;
   height: auto;
 }

 #blog-title {
   border: thin;
   background-color: #1b89bc;
   display: flex;
   justify-content: space-between;
   height: auto
 }

 h1,
 h2,
 p,
 #blog-comment {
   padding: 3px;
   margin: 0;
 }







